<!-- wp:template-part {"slug":"header-with-banner","theme":"lavisto"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-light-color-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"lavisto/aboutus-section"} /-->
  <!-- wp:pattern {"slug":"lavisto/our-amentities"} /-->
  <!-- wp:pattern {"slug":"lavisto/activities-block"} /-->
  <!-- wp:pattern {"slug":"lavisto/room-showcase"} /-->
  <!-- wp:pattern {"slug":"lavisto/photo-gallery"} /-->
  <!-- wp:pattern {"slug":"lavisto/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"lavisto/latest-articles"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lavisto","area":"footer"} /-->
